/build/
/JaguarServer/nbproject/private/
/JaguarClient/nbproject/private/
/JaguarShared/nbproject/private/
/JaguarShared/build/
/JaguarServer/build/
/JaguarShared/dist/
/JaguarServer/dist/
/JaguarClient/build/
/JaguarClient/dist/